<!DOCTYPE html>
	<html>
		<head>
				<script>
				  window.fbAsyncInit = function() {
				    FB.init({
				      appId      : '254201861607793',
				      xfbml      : true,
				      version    : 'v2.6'
				    });
				  };
				
				  (function(d, s, id){
				     var js, fjs = d.getElementsByTagName(s)[0];
				     if (d.getElementById(id)) {return;}
				     js = d.createElement(s); js.id = id;
				     js.src = "//connect.facebook.net/en_US/sdk.js";
				     fjs.parentNode.insertBefore(js, fjs);
				   }(document, 'script', 'facebook-jssdk'));
				</script>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:savagetechnomusic@gmail.com">email</a></li>
	        		<li><a href="https://github.com/savagetechnocorp">github.com/savagetechnocorp</a></li>
				</ul>
			</footer>
		</body>
	</html>
